#head-txt {
  fill: rgb(54, 54, 54);
}
.info-graphic,
.info-text {
  background-color: white;
  border-radius: 20px;
}
.info-graphic {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0;
  padding: 0;
  margin: 60px clamp(1rem, 5vw, 4rem) 80px auto;
  width: min(80%, 600px);
  overflow: hidden;
}
.info-graphic-buttons {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
  width: 100%;
  padding: 1rem 0;
}
.info-text {
  padding: 20px 0;
}
.info-graphic button {
  padding: 0.5rem 1.5rem;
  border-radius: 999px;
  border: none;
  background-color: #ff7700;
  color: rgb(0, 0, 0);
  font-weight: var(--font-weight-medium);
  cursor: pointer;
}
.info-graphic button:hover {
  background-color: #ffa680;
  color: black;
}
.info-text h2 {
  line-height: 3rem;
  text-align: center;
  background-color: black;
  color: white;
  margin-bottom: 1rem;
}
.info-text h3 {
  font-size: 0.8rem;
  line-height: 0.8rem;
  font-weight: 600;
  margin: 0;
  padding: 0;
}
.info-text > *:not(:first-child) {
  margin: 0 clamp(1rem, 10%, 7rem);
}
.info-text p {
  font-size: 0.8rem;
  line-height: 1.3;
  margin: 0 0 1.2rem 0;
  padding: 0;
}
.info-box {
  padding: 1.5rem 1rem 0.5rem 1rem;
  background-color: #fffae2;
}
.info-box:nth-of-type(2n) {
  background-color: #def5db;
}

.Aimyg {
  width: 140%;
  height: auto;
  display: block;
  border-radius: 20px;
  overflow: hidden;
}
